.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
 padding: 5px;
}

.logo {
  display: flex;
  align-self: auto;
  padding: 5px;
}

.title {
  align-self: center;
}


